
body {
  padding: 0;
  margin: 0;
  background-color: black;
  font-family:  'Roboto';
}
.js-header {
    z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;    
  justify-content: center;
  width: 100%;
  height: 70px;
  background-color: transparent;
  transition: background-color 0.5s linear;
}
.inner {
    width: 90%;
    display: grid;
  grid-template-columns: 1fr 5fr 4fr;
}
.js-header__logo {

    display: flex;
    justify-content: center;
    align-items: center;
}

.js-header__menus {

    display: flex;
    align-items: center;
}

.js-header__menus-list {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.js-header__menus-item {
    margin-right: 15px;
    color:white;
    font-weight: 300;
}

.js-header__others {
  
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color:white;
}

.js-header__logo img {
    width: 100px;
}

.js-header__others-search {
    margin-right: 15px;
}
.js-header__others-kids {
    margin-right: 15px;
    text-transform: uppercase;
    font-weight: 300;
}
.js-header__others-notification {
    margin-right: 15px;
}
.js-header__ohters-profile {
    margin-right: 15px;
}

.js-header span {
  color: white;
}
.js-search {
    background-color:black;
    color:white;
    border: 1px solid white;
    padding: 10px 10px 10px 30px;
    font-size: 14px;
    width:100px;
    transition:width 0.5s linear;
}
.open {
    width:200px;
}
.fa-times {
    position: relative;
    left:30px;
}

.black {
  background-color: black;
}

.video__section {
    margin-bottom: 50px;
}

.js-video {
  width: 100%;
}

/* Video Controller CSS  */

.js-videoController {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom:100px;
    left:50px;
    /* border:1px solid white; */
}

.js-playBtn__container {
    display:flex;
    align-items: center;
    /* border: 1px solid white; */
    padding: 5px 20px 5px 5px;
    border-radius: 5px;
    color:white;
    background-color: rgba(0,0,0,0.2);
    margin-bottom: 10px;
    width:150px;
}
.js-playBtn__container:hover {
    color:black;
    background-color: rgba(255,255,255,0.2);
}
.js-playBtn__text {
    margin-left: 10px;
    /* color:white; */
}

.js-playBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 50%; */
    /* border: 1px solid white; */
    /* color:white; */
    background-color: transparent;
    height: 40px;
    width:40px;
    
}


.js-volumeController {
    display: flex; 
    width:200px;   
}

.js-muteBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    /* border: 1px solid white; */
    color:white;
    background-color: rgba(0,0,0,0.2);
    height: 40px;
    width:40px;
}

.js-muteBtn:hover {
    color:black;
    background-color: rgba(255,255,255,0.2);
    
}

.js-volumeRange {
    display: none;
    /* background-color: transparent;
    -webkit-appearance: none; */
}

/* .js-volumeRange::-webkit-slider-runnable-track {
    position: relative;
    background-color:white;
    border-radius: 3px;
    border:1px solid black;
}

.js-volumeRange::-webkit-slider-thumb {
    position: relative;
    background-color:black;
} */


/* Video Cover flow CSS */

.videoList__section {
    margin: auto;
    width: 90%;
    margin-bottom: 80px;
    /* display: flex;
    flex-direction: column; */
    /* border:1px solid white; */
}

.js-videoList__header {
    color:white;
    margin-bottom: 10px;
}
.js-videoList {
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(200px, 1fr));
    grid-gap:5px;
    /* width:90%; */
    /* border:1px solid white; */
}

.js-videoList__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: auto; */
    transition: transform 0.2s linear;
}

.js-videoList__item:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: auto; */
    transform-origin: left;
    transition: transform 0.2s linear;
}
.js-videoList__item:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: auto; */
    transform-origin: right;
    transition: transform 0.2s linear;
}

.js-videoList__item img {
    width:100%;
}

/* .js-videoList__item img:hover {
    width:100%;
    border:1px solid black;
} */

.js-videoList__item-playBtn {
    position: absolute;
    bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solidr rgba(255,255,255,0.5);
    color:rgba(255,255,255,0.5);
    background-color: rgba(0,0,0,0.5);
    height: 40px;
    width:40px;
    margin-bottom: 10px;
    display: none;
}

.js-videoList__item-playBtn:hover {
    border: 1px solid white;
    color:red;
    background-color: rgba(0,0,0,0.5);
}

.js-videoList__item-chevron {
    position: absolute;
    bottom: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    background-color: transparent;
    height: 30px;
    width:30px;
    display: none;
}

.js-videoList__item-chevron:hover {
    position: absolute;
    bottom: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:red;
    background-color: transparent;
    height: 30px;
    width:30px;
    display: none;
}

/* .js-videoList__btn {
    position: relative;
    display: flex;
    justify-content:space-between;
    display: none;
} */
/* .js-videoList__btn:hover {
    display: flex;
}

.js-videoList__leftBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(255,255,255,0.2);
    width: 60px;
    height: 120px;
    position: absolute;
    bottom:0;
    left: -60px;
}
.js-videoList__rightBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(255,255,255,0.2);
    width: 60px;
    height: 120px;
    position: absolute;
    bottom: 0;
    right: -60px;
} */


.selected {
    transform: scale(2);
    z-index: 1;
    width:100%;
}
.selected-left {
    transform-origin: left;
    transform: scale(2,2);
    z-index: 1;
    width:100%;
}
.selected-right {
    transform-origin: right;
    transform: scale(2,2);
    z-index: 1;
    width:100%;
}

.right {
  transform: translate(50px);
}

.left {
  transform: translate(-50px);
}

/* ---------------------------- */

/* Full Screen Video Player */

/* ---------------------------- */

.js-video__fullScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: black;
    /* border:1px solid white; */
    display: none;
    
}

.js-videoList__item-video {
    width: 100%;
    height: 90%;
}

.js-video__fullScreen-controller {
    display: flex;
    flex-direction: column;
    background-color: rgba(100,100,100,0.5);
    width: 80%;
    padding:15px;
    border-radius: 15px;
    position: absolute;
    bottom: 50px;
    /* display: none; */
    

}

.js-video__fullScreen-controller-top {
    display: grid;
    grid-template-columns: 1fr 8fr 2fr;
    /* border:1px solid white; */
    color:white;
    margin-bottom: 10px;
    position: relative;
    
}

.fullScreen-controller-top__left {
    display: flex;
    /* border:1px solid white; */
    color:white;
    font-size: 25px;
}
.fullScreen-controller-top__middle {
    display: flex;
    align-items: center;
    margin-left: 10px;
    /* border:1px solid white; */
    color:white;
}
.fullScreen-controller-top__right {
    display: flex;
    /* border:1px solid white; */
    justify-content: flex-end;
    color:white;
    
    font-size: 25px;
}

.js-video__fullScreen-controller-bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 45px;
    color:white;
    font-size: 12px;
}

.play {
    display: flex;
    justify-content: center;
    align-items: center;
    width:45px;
    height:45px;
    color:white;
}
.play:hover {
    color:black;
}
.fullScreen-volumeController {
    display: flex;
    transform-origin: 0px 0px;
    transform: rotate(-90deg);
    /* border: 1px solid white; */
    position: absolute;
    left: 45px;
    bottom: -45px;
}
.fullScreen-volume-range {
    margin-top: 15px;

}
.volume {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:45px;
    height:45px;
    color:white;
    transform: rotate(90deg);
    /* border:1px solid white; */
}
.volume:hover {
    color:black;
}
.volume-range-background {
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(60,60,60,0.9);
    /* border: 1px solid white; */
    display: none;
}
.title {
    color:white;
}
.playlist {
    display: flex;
    justify-content: center;
    align-items: center;
    width:45px;
    height:45px;
    color:white;
}
.playlist:hover {
    color:black;
}
.transcript {
    display: flex;
    justify-content: center;
    align-items: center;
    width:45px;
    height:45px;
    color:white;
}
.transcript:hover {
    color:black;
}
.exit {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    width:45px;
    height:45px;
    color:white;
}
.exit:hover {
    color:black;
}

.playtime {
    width:85%;
}



