@import "./header.css";
@import "./mainVideo.css";
@import "./videoList.css";
@import "./coverFlow.css";
@import "./fullScreen.css";


body {
  padding: 0;
  margin: 0;
  background-color: black;
  font-family:  'Roboto';
}





