
body {
  padding: 0;
  margin: 0;
  height: 300vh;
  background-color: black;
  font-family:  'Roboto';
}
.js-header {
    z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;    
  justify-content: center;
  width: 100%;
  height: 70px;
  background-color: transparent;
  transition: background-color 0.5s linear;
}
.inner {
    width: 90%;
    display: grid;
  grid-template-columns: 1fr 6fr 3fr;
}
.js-header__logo {

    display: flex;
    justify-content: center;
    align-items: center;
}

.js-header__menus {

    display: flex;
    align-items: center;
}

.js-header__menus-list {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.js-header__menus-item {
    margin-right: 15px;
    color:white;
    font-weight: 300;
}

.js-header__others {
  
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color:white;
}

.js-header__logo img {
    width: 100px;
}

.js-header__others-search {
    margin-right: 15px;
}
.js-header__others-kids {
    margin-right: 15px;
    text-transform: uppercase;
    font-weight: 300;
}
.js-header__others-notification {
    margin-right: 15px;
}
.js-header__ohters-profile {
    margin-right: 15px;
}

.js-header span {
  color: white;
}

.black {
  background-color: black;
}

.js-video {
  width: 100%;
}

.js-videoController {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom:200px;
    left:50px;
}

.js-playBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid white;
    color:white;
    background-color: transparent;
    height: 40px;
    width:40px;
    margin-bottom: 10px;
}

.js-volumeController {
    display: flex;
    width: 20%;
    
}

.js-muteBtn {
    border:1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid white;
    color:white;
    background-color: transparent;
    height: 40px;
    width:40px;
}

/* .js-volumeRange {
    position: relative;
    display: none;
    background-color: transparent;
    -webkit-appearance: none;
} */

/* .js-volumeRange::-webkit-slider-runnable-track {
    position: relative;
    background-color:white;
    border-radius: 3px;
    border:1px solid black;
}

.js-volumeRange::-webkit-slider-thumb {
    position: relative;
    background-color:black;
} */
